<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <th:block th:replace="../fragments/bootstrap4"></th:block>
</head>
<th:block th:replace="../fragments/header"></th:block>
<main>
    <th:block th:if="${wat1 == wat2}">
        <h1>Wazaaaa</h1>
    </th:block>
    <th:block th:replace="../fragments/search-bar"></th:block>

    <th:block th:replace="../fragments/products-all-fragment"></th:block>

</main>
<body>
<th:block th:replace="../fragments/footer"></th:block>
</body>
</html>