<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <th:block th:replace="../fragments/bootstrap4"></th:block>
</head>
<th:block th:replace="../fragments/header"></th:block>
<main>
    <div class="container-fluid text-center">
        <h1>Products</h1>
        <form th:action="@{/products}" th:method="get">
            <input name="search" placeholder="Search product..."/>
            <select name="option">
                <option selected disabled>Sort By</option>
                <option value="nameAsc">Name Ascending</option>
                <option value="nameDesc">Name Descending</option>
                <option value="priceAsc">Price Ascending</option>
                <option value="priceDesc">Price Descending</option>
                <option value="newest">Newest</option>
                <option value="oldest">Oldest</option>
            </select>
            <button class="btn btn-secondary">Search</button>
        </form>
    </div>

    <th:block th:replace="../fragments/products-all-fragment"></th:block>

</main>
<body>
<th:block th:replace="../fragments/footer"></th:block>
</body>
</html>