<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Product</title>
    <th:block th:replace="../fragments/bootstrap4"></th:block>
</head>
<body>
<th:block th:replace="../fragments/header"></th:block>

<main>
    <h1>Name</h1>
    <h2 th:text="${productViewModel.getName()}"></h2>
    <hr/>

    <img th:src="${productViewModel.getImageUrl()}">

    <h1>Price</h1>
    <h2 th:text="${productViewModel.getPrice()}"></h2>
    <hr/>

    <h1>Weight in grams</h1>
    <h2 th:text="${productViewModel.getWeightInGrams()}"></h2>
    <hr/>

    <h1>Description</h1>
    <h2 th:text="${productViewModel.getDescription()}"></h2>
    <hr/>

    <h1>Restaurant</h1>
    <h2 th:text="${productViewModel.getRestaurantName()}"></h2>
    <hr/>

    <th:block th:if="${#session.getAttribute('roles').contains('ROLE_USER')}">
        <button type="button" th:productIdTag="${productViewModel.getId()}"
                id="add-to-cart" class="btn btn-warning"
                data-toggle="modal" data-target="#myModal">
            Add to cart
        </button>
    </th:block>

    <th:block th:unless="${#session.getAttribute('roles').contains('ROLE_USER')}">
        <a th:href="@{/login}">
            <button type="button" class="btn btn-warning">
                Add to cart
            </button>
        </a>
    </th:block>

    <th:block th:if="${#session.getAttribute('roles').contains('ROLE_MANAGER')}">
        <a th:href="@{/products/edit/{id}(id=${productViewModel.getId()})}">
            <button type="button" class="btn btn-primary">Edit</button>
        </a>
        <a th:href="@{/products/delete/{id}(id=${productViewModel.getId()})}">
            <button type="button" class="btn btn-danger">Delete</button>
        </a>
    </th:block>

    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Success!</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p>Added "<span th:text="${productViewModel.getName()}"></span>" to shopping cart</p>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
                </div>

            </div>
        </div>
    </div>
</main>

<th:block th:replace="../fragments/footer"></th:block>

<script th:src="@{/js_files/update-items-count.js}"></script>
<script>
    document.getElementById('add-to-cart').addEventListener('click', ev => {
        const productId = ev.target.getAttribute('productIdTag');
        fetch('/order/add-to-cart', {
            method: 'post',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                productId,
            }),
        }).then(() => {
            updateItemsCount.update();
        });
    });
</script>
</body>
</html>