<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <th:block th:replace="../fragments/bootstrap4"></th:block>
</head>
<body>
<th:block th:replace="../fragments/header"></th:block>

<main>
    <div class="container-fluid text-center">
    <form th:action="@{/admin/users}" th:method="get">
        <input name="search" placeholder="Search user..."/>
        <select name="option">
            <option selected disabled>Search By</option>
            <option value="name">Name</option>
            <option value="email">Email</option>
        </select>
        <button class="btn btn-secondary">Search</button>
    </form>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Email</th>
            <th scope="col">Name</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="userViewModel: ${userViewModels}">
            <tr th:userId="${userViewModel.getId()}">
                <td th:text="${userViewModel.getEmail()}" class="email"></td>
                <td th:text="${userViewModel.getName()}" class="username"></td>
                <td>
                    <button th:if="${userViewModel.getRoles().contains('ROLE_MANAGER')}" disabled data-toggle="modal"
                            data-target="#modalForm" class="btn btn-success btn-manager">
                        Make Manager
                    </button>
                    <button th:unless="${userViewModel.getRoles().contains('ROLE_MANAGER')}" data-toggle="modal"
                            data-target="#modalForm" class="btn btn-success btn-manager">
                        Make Manager
                    </button>
                </td>
                <td>
                    <button th:if="${userViewModel.getRoles().contains('ROLE_MANAGER')}" data-toggle="modal"
                            data-target="#modalForm" class="btn btn-secondary btn-user">
                        Make User
                    </button>
                    <button th:unless="${userViewModel.getRoles().contains('ROLE_MANAGER')}" disabled
                            data-toggle="modal" data-target="#modalForm" class="btn btn-secondary btn-user">
                        Make User
                    </button>
                </td>
                <td>
                    <button data-toggle="modal" data-target="#modalForm" class="btn btn-danger btn-delete">
                        Delete
                    </button>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>


    <div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <p id="form-title" style="font-size: 30px" class="modal-title w-100 font-weight-bold"></p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">

                    <div class="md-form mb-4">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <input type="password" id="defaultForm-pass" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button data-toggle="modal" data-target="#modalForm" id="confirm-action" class="btn btn-danger">
                        Confirm
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>

<th:block th:replace="../fragments/footer"></th:block>

<script>
    const formElements = {
        inputPassword: document.getElementById('defaultForm-pass'),
        buttonConfirm: document.getElementById('confirm-action'),
        paragraphFormTitle: document.getElementById('form-title'),
    };

    const actions = {
        makeManager: "Make manager",
        makeUser: "Make user",
        delete: "Delete",
    };

    const getUserData = tableRow => {
        return {
            userId: tableRow.getAttribute("userId"),
            userName: tableRow.getElementsByClassName('username')[0].textContent,
        }
    };

    let lastAction;
    let tableRowAction;
    let userId;
    let userData;

    document.getElementsByTagName('tbody')[0].addEventListener('click', ev => {
        const targetClassList = ev.target.classList;

        if (targetClassList.contains('btn-manager')
            || targetClassList.contains('btn-user')
            || targetClassList.contains('btn-delete')) {

            if (targetClassList.contains('btn-manager')) {
                lastAction = actions.makeManager;
            } else if (targetClassList.contains('btn-user')) {
                lastAction = actions.makeUser;
            } else if (targetClassList.contains('btn-delete')) {
                lastAction = actions.delete;
            }

            tableRowAction = ev.target.parentNode.parentNode;
            userData = getUserData(tableRowAction);
            formElements.paragraphFormTitle.textContent = `Perform action "${lastAction}" on user "${userData.userName}"`;
        }
    });

    document.getElementById('confirm-action').addEventListener('click', () => {
        const body = {
            password: formElements.inputPassword.value,
            action: lastAction,
            userId: userData.userId,
        };
        formElements.inputPassword.value = '';
        fetch('/admin/users', {
            method: 'post',
            headers: {
                Accept: "application/json",
                "Content-Type": "application/json"
            },
            body: JSON.stringify(body)
        }).then(response => {
            if (response.status === 401) {
                alert("Wrong password!")
            } else if (response.status === 200) {
                alert("Action \"" + lastAction + "\" successful!");
                switch (lastAction) {
                    case actions.makeManager:
                        tableRowAction.getElementsByClassName('btn-manager')[0].disabled = true;
                        tableRowAction.getElementsByClassName('btn-user')[0].disabled = false;
                        break;

                    case actions.makeUser:
                        tableRowAction.getElementsByClassName('btn-manager')[0].disabled = false;
                        tableRowAction.getElementsByClassName('btn-user')[0].disabled = true;
                        break;

                    case actions.delete:
                        tableRowAction.remove();
                        break;
                }

            } else if (response.status === 409) {
                switch (lastAction) {
                    case actions.makeManager:
                        alert('User is already a manager!');
                        break;

                    case actions.makeUser:
                        alert('User is already a ... user!');
                        break;

                    case actions.delete:
                        alert('User has already been deleted!');
                        break;
                }
            }
        });
    });
</script>
</body>
</html>