<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    <th:block th:replace="../fragments/bootstrap4"></th:block>
</head>
<body>
<th:block th:replace="../fragments/header"></th:block>

<main>
    <h1>Your shopping cart:</h1>
    <p id="no-items"><span th:if="${shoppingCart.getProducts().isEmpty()}">Shopping cart is empty</span></p>
    <th:block th:unless="${shoppingCart.getProducts().isEmpty()}">
    <table  class="table table-dark table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Weight in grams</th>
            <th>Image URL</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Single Price</th>
            <th>Total Price</th>
            <th><button id="remove-all" class="btn btn-danger">Remove all</button></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="shoppingCartProduct: ${shoppingCart.products}">
            <tr th:productId="${shoppingCartProduct.getId()}">
                <td th:text="${shoppingCartProduct.getName()}"></td>
                <td th:text="${shoppingCartProduct.getWeightInGrams()}"></td>
                <td th:text="${shoppingCartProduct.getImageUrl()}"></td>
                <td th:text="${shoppingCartProduct.getDescription()}"></td>
                <td class="td-quantity">
                    <div class="def-number-input number-input safari_only">
                        <button
                                onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                class="btn btn-danger">-
                        </button>
                        <input class="quantity" min="1" name="quantity"
                               th:value="${shoppingCartProduct.getQuantity()}" type="number">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                class="btn btn-success">+
                        </button>
                    </div>
                </td>
                <td class="td-price" th:text="${shoppingCartProduct.getPrice()}"></td>
                <td class="td-total-price" th:text="${shoppingCartProduct.getTotalPrice()}"></td>
                <td><button class="btn btn-danger btn-remove">Remove</button></td>
            </tr>
        </th:block>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="6">Total Sum</td>
            <td id="total-price" th:text="${shoppingCart.getTotalSum()}"></td>
        </tr>
        </tfoot>
    </table>

    <a th:href="@{/order/billing}"><button>Next</button></a>
    </th:block>

</main>

<th:block th:replace="../fragments/footer"></th:block>

<script th:src="@{/js_files/update-items-count.js}"></script>
<script th:src="@{/js_files/fetch-functions.js}"></script>
<script>
    const removeButtons = [...document.getElementsByClassName('btn-remove')];
    const removeAllButton = document.getElementById('remove-all');
    const tableBody = document.getElementsByTagName('tbody')[0];
    const tdTotalSum = document.getElementById('total-price');

    const quantityTableDefinitions = [...document.getElementsByClassName('td-quantity')];
    const updateTotalSum = () => {
        const inputQuantities = [...document.getElementsByName('quantity')];
        const prices = [...document.getElementsByClassName('td-price')];
        const totalPrices = [...document.getElementsByClassName('td-total-price')];

        let totalSum = 0;
        for (let i = 0; i < inputQuantities.length; i += 1) {
            const currentTotalPrice = Number(inputQuantities[i].value) * Number(prices[i].textContent);
            totalPrices[i].textContent = currentTotalPrice.toFixed(2);
            totalSum += currentTotalPrice;
        }

        tdTotalSum.textContent = '' + totalSum.toFixed(2);
    };

    const sendDelayedFetch = (timeoutIdArr, productId, inputQuantity) => {
        clearTimeout(timeoutIdArr[0]);
        timeoutIdArr[0] = setTimeout(() => {
            let quantity;
            typeof inputQuantity === 'number'
                ? quantity = inputQuantity
                : quantity = inputQuantity.value;

            const object = {
                productId,
                quantity,
            };
            // updateTotalSum();
            return fetchFunctions.sendJsonToController('/order/adjust-quantity', object)
                .then(() => {
                    updateItemsCount.update();
                });
        }, 1000);
    };

    quantityTableDefinitions.forEach(td => {
        const tdElements = {
            buttonMinus: td.getElementsByTagName('button')[0],
            inputQuantity: td.getElementsByTagName('input')[0],
            buttonPlus: td.getElementsByTagName('button')[1],
        };

        const productId = td.parentNode.getAttribute('productId');

        //not doing it with normal variable, because it gets copied in the function and my
        //function needs to change it. So I am using a reference type variable
        let timeoutIdArr = [];
        //Partial function
        const currentDelayedFetch = () => {
            sendDelayedFetch(timeoutIdArr, productId, tdElements.inputQuantity);
            updateTotalSum();
        };

        tdElements.buttonPlus.addEventListener('click', currentDelayedFetch);
        tdElements.buttonMinus.addEventListener('click', currentDelayedFetch);
        tdElements.inputQuantity.addEventListener('input', currentDelayedFetch);
    });

    removeButtons.forEach(button => {
        button.addEventListener('click', ev => {
            const tableRow = ev.target.parentNode.parentNode; //button --> td --> tr
            console.log(tableRow);
            const productId = tableRow.getAttribute('productId');
            tableBody.removeChild(tableRow);
            if (tableBody.children.length === 0) {
                removeAll();
            } else {
                updateTotalSum();
                sendDelayedFetch([-1], productId, 0);
            }
        })
    });

    const removeAll = () => {
        document.getElementsByTagName('main')[0].removeChild(document.getElementsByTagName('table')[0]);
        document.getElementById('no-items').textContent = 'Shopping cart is empty';
        sendDelayedFetch([-1], -1, 0);
    };

    document.getElementById('remove-all').addEventListener('click', () => {
        removeAll();
    });

</script>
</body>
</html>