<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Statistics</title>
    <th:block th:replace="../fragments/bootstrap4"></th:block>
</head>
<body>
<th:block th:replace="../fragments/header"></th:block>

<main>
    <div class="container-fluid text-center">
        <h1>Sales for <span th:text="${restaurantSalesViewModel.getName()}"></span></h1>

        <form th:action="@{/restaurants/sales/{id}(id=${restaurantSalesViewModel.getId()})}" th:method="get">
            <div class="md-form col-md-2">
                <label for="dateFrom">From (inclusive)</label>
                <input name="dateFrom" type="date" id="dateFrom" class="form-control">
            </div>

            <div class="md-form col-md-2">
                <label for="dateTo">To (inclusive)</label>
                <input name="dateTo" type="date" id="dateTo" class="form-control">
            </div>

            <button class="btn btn-secondary" type="submit">Get Sales</button>
        </form>
    </div>

        <table class="table table-dark table-hover">
            <thead>
            <tr>
                <th>Product Name</th>
                <th>Date of order</th>
                <th>Quantity</th>
                <th>Single Price</th>
                <th>Total Price</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="productOrderViewModel: ${restaurantSalesViewModel.getProductSaleViewModes()}">
                <tr>
                    <td th:text="${productOrderViewModel.getProductName()}"></td>
                    <td th:text="${#temporals.format(productOrderViewModel.getDateOfOrder(), 'dd/MM/yyyy')}"></td>
                    <td th:text="${productOrderViewModel.getQuantity()}"></td>
                    <td th:text="${productOrderViewModel.getProductPriceAtCheckout()}"></td>
                    <td th:text="${productOrderViewModel.getTotalPrice()}"></td>
                </tr>
            </th:block>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4">Total Income</td>
                <td th:text="${restaurantSalesViewModel.getTotalIncome()}"></td>
            </tr>
            </tfoot>
        </table>
</main>

<th:block th:replace="../fragments/footer"></th:block>
</body>
</html>