<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Password</title>
    <th:block th:replace="../fragments/bootstrap4"></th:block>
</head>
<body>
<th:block th:replace="../fragments/header"></th:block>

<main>
    <h1>Password</h1>

    <form th:action="@{/user/profile/edit-password}" th:method="put" th:object="${userEditPasswordModel}">
        <label>
            Old Password: <input type="password" name="oldPassword" th:field="*{oldPassword}" placeholder="Old Password..."/>
        </label>
        <th:block th:each="oldPasswordErrorMessage: ${#fields.errors('oldPassword')}">
            <p class="text-danger" th:text="${oldPasswordErrorMessage}"></p>
        </th:block>

        <hr/>

        <label>
            New Password: <input type="password" name="newPassword" th:field="*{newPassword}" placeholder="New password..."/>
        </label>
        <th:block th:each="newPasswordErrorMessage: ${#fields.errors('newPassword')}">
            <p class="text-danger" th:text="${newPasswordErrorMessage}"></p>
        </th:block>

        <hr/>

        <label>
            RePassword: <input type="password" name="rePassword" th:field="*{rePassword}" placeholder="Retype new password..."/>
        </label>
        <th:block th:each="rePasswordErrorMessage: ${#fields.errors('rePassword')}">
            <p class="text-danger" th:text="${rePasswordErrorMessage}"></p>
        </th:block>

        <input type="submit" value="Confirm change"/>
    </form>
</main>

<th:block th:replace="../fragments/footer"></th:block>
</body>
</html>