<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <th:block th:replace="../fragments/bootstrap4"></th:block>
</head>
<body>
<th:block th:replace="../fragments/header"></th:block>

<main>
    <div class="container-fluid text-center">

    <p class="info">Name</p>
    <p class="smallerInfo" th:text="${userProfileViewModel.getName()}"></p><a th:href="@{/user/profile/edit-name}"><button class="btn btn-primary">Change</button></a>
    <hr/>
    <p class="info">Email</p>
    <p class="smallerInfo" th:text="${userProfileViewModel.getEmail()}"></p><a th:href="@{/user/profile/edit-email}"><button class="btn btn-secondary">Change</button></a>
    <hr/>
    <a th:href="@{/user/profile/edit-password}"><button class="btn btn-warning">Change Password</button></a>

    </div>
</main>

<th:block th:replace="../fragments/footer"></th:block>
</body>
</html>