<th:block xmlns:th="http://www.thymeleaf.org">
    <hr/>
    <footer class="page-footer font-small teal pt-4">
        <div class="container-fluid text-center">

            <h1 style="font-size: 30px" class="text-uppercase font-weight-bold">"Food as a Service"</h1>
            <p>
                Diplom work for Technical university
            </p>

        </div>

        <div class="footer-copyright text-center py-3">
            Made by Aleksandar Boev, 2019
        </div>

    </footer>
</th:block>