<div class="row" xmlns:th="http://www.thymeleaf.org">
    <div th:each="productAllViewModel: ${productAllViewModels}"
         class="col-md-4 text-center overflow-hidden">

        <img height="300" class="details-img"
             th:src="${productAllViewModel.getImageUrl()}"/>
        <div class="my-3 p-3">
            <p th:text="${productAllViewModel.getName()}" style="font-size: 30px" class="display-5"></p>
            <p>Price: <span th:text="${productAllViewModel.getPrice()}"></span>$</p>
            <p>Weight in grams: <span th:text="${productAllViewModel.getWeightInGrams()}"></span></p>
        </div>

        <a th:href="@{/products/view/{id}(id=${productAllViewModel.getId()})}" class="btn btn-info btn-lg">View</a>

        <th:block th:if="${productAllViewModel.getOwnerId()} == ${#session.getAttribute('userData').getId()}">
            <a th:href="@{/products/{restaurant_id}/edit/{id}(id=${productAllViewModel.getId()}, restaurant_id=${productAllViewModel.getRestaurantId()})}"
               class="btn btn-primary btn-lg">Edit</a>
            <a th:href="@{/products/{restaurant_id}/delete/{id}(id=${productAllViewModel.getId()}, restaurant_id=${productAllViewModel.getRestaurantId()})}"
               class="btn btn-danger btn-lg">Delete</a>
        </th:block>
    </div>
</div>