<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wat</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<form th:action="@{/test}" th:method="get">
    <input name="search" placeholder="Search stuff..."/>
    <select name="option">
        <option selected disabled>Sort By</option>
        <option value="wat1">Option 1</option>
        <option value="wat2">Option 2</option>
        <option value="wat3">Option 3</option>
        <option value="wat4">Option 4</option>
    </select>
    <button>Search</button>
</form>

<script>

</script>
</body>
</html>